[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=PhpStorm
Comment=Phpstorm {{phpstorm_version}}
Icon={{phpstorm_install_dir}}/phpstorm-{{phpstorm_version}}/bin/phpstorm.png
Exec={{phpstorm_bin}}
Terminal=false
Categories=Tags;Describing;Application
